ul{
    margin-bottom: 0;
}

.email{
    color: var(--texto) !important;
    
}

/* classe local */
.listaFooter{
    display: flex;
    /* centralização horizontal */
    justify-content: center;
    /* centralização vertical */
    align-items: center;
    list-style: none;
}
/* classe global, envolve todos li do footer */
.listaFooter li{
    margin: 0 1em;
}

/* classe global, envolve todos svg do footer */
.listaFooter svg{
    font-size: 1.5em;
    /* simula um link */
    cursor: pointer;
    color: var(--texto);
}