.border-top{
    color: red !important;
}
.rodape{
    position: fixed bottom;
    color: var(--links);
}

/* classe local */
.listaContato{
    display: flex;
    /* centralização horizontal */
    justify-content: center;
    /* centralização vertical */
    align-items: center;
    list-style: none;
}
/* classe global, envolve todos li do footer */
.listaContato li{
    margin: 0 1em;
}

/* classe global, envolve todos svg do footer */
.listaContato svg{
    font-size: 1.5em;
    /* simula um link */
    cursor: pointer;
    color: var(--texto);
}