/* link */
.navLink{
    color: var(--links);
    text-decoration: none;
    position: relative;
    display: inline-block; /* Header are 100% width by their default block behaviour */
}

.navLink:hover{
    color: var(--links);   
}
/*  */

/* button */
.navButton{
    margin: 0 5px;
    color: var(--links);
    
}

.navButtonUm{
    margin: 0 5px;
    color: var(--links);
}

.navButton:hover, .navButtonUm:hover{
    background-color: var(--navbar) !important;
}
/*  */

.navBar{
    background-color: var(--texto);
    color: var(--links);
}

/* brand */
.navBrand{
    text-decoration: none;
    color: var(--navbar);
}

.navBrand:hover{
    color: var(--navbar);
}
/*  */

@media (max-width: 1000px) {
    
    .navButtonUm{
        margin: 15px 5px 5px 5px;
    }
    
}

