/* link */
.navLink{
    color: var(--links);
    text-decoration: none;
    position: relative;
    display: inline-block; /* Header are 100% width by their default block behaviour */
}

.navLink:hover{
    color: var(--links);   
}
/*  */

/* button */
.navButton{
    margin: 0 5px;
    color: var(--links);
}

.navButtonUm{
    margin: 0 5px;
    color: var(--links);
}

.navButton:hover, .navButtonUm:hover{
    background-color: var(--navbar) !important;
}

/*  */

/* navbar */
.navBarDesk{
    background-color: var(--texto);
    color: var(--links);
}

.navBarMob{
    background-color: var(--texto);
    color: var(--links);
}
/*  */

/* brand */
.navBrand{
    text-decoration: none;
    color: var(--navbar);
}

.navBrand:hover{
    color: var(--navbar);
}
/*  */

.offCanvasHead{
    background-color: var(--laranjaEscuro) !important;
}

.offCanvasBody{
    background-color: var(--fundo) !important;
}

.offCanvasButton{
    padding: 0;
    margin: 5px 0;
    width: 100%;
    height: 8%;
    color: var(--links);
}

.offCanvasButton:hover{
    background-color: var(--navbar) !important;
}


/* desktop */
@media (min-width: 900px) {
    
    .navBarDesk{
        display: flex;    
    }
    .navBarMob{
        display: none !important;    
        background-color: blue;
    }

}

/* mobile */
@media (max-width: 900px) {
    
    .navButtonUm{
        margin: 15px 5px 5px 5px;
    }
    .navBarDesk{
        display: none !important;    
        background-color: blue;

    }
    .navBarMob{
        display: flex;    
    }
}

