/* button */
.navButton{
    margin: 0 5px;
    color: var(--links);
    text-decoration: none;
    position: relative;
    border-color: var(--navbar) !important;

}

.navButton:hover{
    background-color: var(--navbar) !important;
}

/*  */

.navBar{
    background-color: var(--texto);
    color: var(--links);
}

.icone{
    height: 50px !important;
    width: 50px !important;
}

.offCanvasHead{
    background-color: var(--laranjaEscuro) !important;
    height: 10vh !important;
}

.offCanvasBody{
    background-color: var(--fundo) !important;
}

.offCanvasButton{
    padding: 0;
    margin: 5px 0;
    width: 100%;
    height: 8%;
    color: var(--laranjaEscuro) !important;
    border-color: var(--navbar) !important;
}

.offCanvasButton:hover{
    background-color: var(--navbar) !important;
}

/* mobile */
@media (max-width: 991px) {
    
    .navButtonUm{
        margin: 15px 5px 5px 5px;
    }

}


