:root{
  --fundo:rgb(96,108,56);
  --texto:rgb(222, 154, 106);
  --links:rgb(254, 250, 224);
  --navbar:rgb(40,54,24);
  --laranjaEscuro:rgb(215, 122, 41);
}

.App {
  text-align: center;
  background-color: var(--fundo);
}

body{
  background-color: var(--fundo) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spanHome{
  display: block;
  text-align: justify;
  color: var(--texto);
  border-radius: 1%;
  margin: 10px 30px;
  padding: 1px;
  
}


h1{
  margin: 30px 15px 20px 15px !important;
  color:  var(--links);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


